.feature {
  padding-top: $gutter * 4;
  padding-bottom: $gutter * 4;
  @include breakpoints-min(md) {
    padding-top: $gutter * 6;
    padding-bottom: $gutter * 6;
  }
  &__inner {
    max-width: $gutter * 57;
    margin-left: auto;
    margin-right: auto;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% + #{$gutter * 2});
    margin-left: - $gutter;
    margin-right: - $gutter;
    padding-left: $gutter;
    padding-right: $gutter;
    @include breakpoints-min(sm) {
      width: calc(100% + #{$gutter * 2});
      margin-left: - $gutter;
      margin-right: - $gutter;
    }
    @include breakpoints-min(md) {
      width: calc(100% + #{$gutter * 4});
      margin-left: - $gutter * 2;
      margin-right: - $gutter * 2;
    }
  }
  &__item {
    text-align: center;
    width: 100%;
    padding-left: $gutter;
    padding-right: $gutter;
    @include breakpoints-min(sm) {
      width: #{100% / 3};
    }
    @include breakpoints-min(md) {
      padding-left: $gutter * 2;
      padding-right: $gutter * 2;
    }
  }
  &__icon {
    position: relative;
    border-radius: 50%;
    border: 2px solid $theme-color-4;
    width: $gutter * 6;
    height: $gutter * 6;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $gutter * 0.75;
    padding: 4px;
    img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
    }
  }
  &__title {
    font-size: 15px;
    font-weight: 500;
    color: $theme-color-4;
    margin-bottom: $gutter * 0.5;
  }
}
