.intro {
  text-align: center;
  margin-bottom: $gutter * 3.5;
  padding-left: $gutter;
  padding-right: $gutter;
  @include breakpoints-min(md) {
    margin-bottom: $gutter * 5;
  }
  &__heading {
    font-size: 29px;
    font-weight: 300;
    color: $theme-color-4;
    line-height: 1.3;
    margin-bottom: $gutter * 2;
    @include breakpoints-min(md) {
      font-size: 32px;
    }
  }
  &__text {
    @include breakpoints-min(md) {
      width: $gutter * 35;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
