.more-theme {
  $element: &;
  padding-top: $gutter * 4;
  padding-bottom: $gutter * 4;
  @include breakpoints-min(md) {
    padding-top: $gutter * 3;
    padding-bottom: $gutter * 3;
  }
  &__inner {
    padding-left: $gutter;
    padding-right: $gutter;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    width: $gutter * 14;
  }
  &__link {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    @include breakpoints-min(md) {
      &:hover {
        #{$element}__img {
          box-shadow: 0 4px 5px rgba($oc-gray-9, 0.125), 0 8px 12px rgba($oc-gray-9, 0.125);
        }
      }
    }
  }
  &__img {
    display: block;
    transition: 0.3s;
    box-shadow: 0 4px 5px rgba($oc-gray-9, 0.125);
    border-radius: 5px;
    width: 100%;
    margin-bottom: $gutter * 0.75;
  }
  &__title {
    text-align: center;
    color: $color;
    margin-bottom: $gutter * 0.375;
  }
  &__text {
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
    color: $oc-gray-5;
  }
}
