.disk {
  display: none;
  position: absolute;
  z-index: 1;
  transition: 0.5s ease-out;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba($theme-color-7, 0.15);
  border-radius: 50%;
  background-color: #ccc;
  backface-visibility: hidden;
  &__img {
    display: block;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  &::before {
    background-color: $oc-gray-2;
    width: $gutter * 2.75;
    height: $gutter * 2.75;
  }
  &::after {
    background-color: #fff;
    width: $gutter * 2;
    height: $gutter * 2;
  }
  @include breakpoints-min(sm) {
    display: block;
    left: $disk-view-sm;
    top: $gutter * 0.5;
    width: $jacket-size-sm - $gutter;
    height: $jacket-size-sm - $gutter;
  }
  @include breakpoints-min(md) {
    left: 0;
    width: $jacket-size-md - $gutter;
    height: $jacket-size-md - $gutter;
  }
  @include breakpoints-min(lg) {
    width: $jacket-size-lg - $gutter;
    height: $jacket-size-lg - $gutter;
  }
}
