.footer {
  background-color: $theme-color-4;
  text-align: center;
  color: #fff;
  padding-top: $gutter * 3;
  padding-bottom: $gutter * 3;
  @include breakpoints-min(lg) {
    padding-top: $gutter * 4;
    padding-bottom: $gutter * 4;
  }
  &__logo {
    margin-bottom: $gutter * 2;
    &__link {
      transition: 0.3s;
      @include breakpoints-min(md) {
        &:hover {
          opacity: 0.5;
        }
      }
    }
    &__img {
      max-width: 100%;
      @include breakpoints-min(sm) {
        max-width: auto;
        max-height: $gutter * 6;
      }
    }
  }

  ::selection {
    background-color: #fff;
    color: $theme-color-4;
  }
  ::-moz-selection {
    background-color: #fff;
    color: $theme-color-4;
  }
}
