.info {
  &__headline {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    line-height: 1.35;
    margin-bottom: $gutter * 2;
    @include breakpoints-min(md) {
      text-align: left;
    }
  }
  &__text {
    margin-bottom: $gutter * 2;
  }
  &__list {
  }
  &__title {
    float: left;
    font-weight: normal;
    text-align: right;
    color: $theme-color-4;
    min-width: 5em;
    margin-right: $gutter;
  }
  &__item {
    margin-bottom: $gutter * 0.25;
  }
}
