.jacket {
  position: relative;
  z-index: 2;
  transition: 0.5s ease-out;
  @include breakpoints-min(sm) {
    width: $jacket-size-sm;
    left: 0;
  }
  @include breakpoints-min(md) {
    width: $jacket-size-md;
    left: $disk-view-md - $gutter;
  }
  @include breakpoints-min(lg) {
    width: $jacket-size-lg;
    left: $disk-view-lg - $gutter;
  }
  &__img {
    display: block;
    box-shadow: 0 4px 8px rgba($theme-color-7, 0.15), 0 15px 18px rgba($theme-color-9, 0.125);
  }
}
