.media {
  padding-bottom: $gutter * 4.5;
  .youtube {
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: $gutter * 1.5;
    padding-bottom: 56.25%;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .soundcloud {
    width: calc(100% + 2px);
    margin-left: -1px;
  }

  &.section {
    padding-top: $gutter * 3;
    padding-bottom: $gutter * 3;
    .section__inner {
      @include breakpoints-min(md) {
        width: $gutter * 30;
      }
    }
  }
}
