*, *:before, *:after {
  box-sizing: border-box;
}

::selection {
  background-color: $theme-color-4;
  color: #fff;
}
::-moz-selection {
  background-color: $theme-color-4;
  color: #fff;
}

html {
}
body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

a {
  color: $theme-color-6;
  @include breakpoints-min(md) {
    &:hover {
      text-decoration: none;
    }
  }
}

h2 {
  position: relative;
  font-family: 'Asap', sans-serif;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: $oc-gray-7;
  margin-bottom: $gutter * 2 + 3;
  padding-bottom: $gutter * 0.675;
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
    border-radius: 1px;
    background-color: $theme-color-4;
    width: $gutter * 1.5;
    height: 4px;
  }
}
