// base
$font-family: "Mplus 1p", sans-serif;
$font-size: 14px;
$font-weight: 400;
$line-height: 1.9;
$letter-spacing: 0.05em;
$color: $oc-gray-8;

// margin
$gutter: 16px;

// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1456px
);

// jacket
$jacket-size-sm: $gutter * 13;
$jacket-size-md: $gutter * 16;
$jacket-size-lg: $gutter * 18;
$jacket-size-xl: $gutter * 18;

$disk-view-sm: $gutter * 4;
$disk-view-md: $gutter * 4;
$disk-view-lg: $gutter * 5;
$disk-view-xl: $gutter * 5;

$disk-view-hover-sm: $gutter * 7;
$disk-view-hover-md: $gutter * 9;
$disk-view-hover-lg: $gutter * 10;
$disk-view-hover-xl: $gutter * 10;
